
.hidden {
    display:none;
}

#login-form {
    position: absolute;
    left: 10%;
    top: 8%;
}
/*이름 입력창*/

#greeting {
    color: white;
    background-color:none;
    text-align: center;
    border: none;
    border-bottom: 2px solid;
    position: absolute;
    left: 10%;
    top: 8%;
    width: 220px;
    font-size: 20px;
}
/*이름입력후 환영창*/