.left-screen{
    position: absolute;
    background:none;
    width: 17vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
    margin-left: 15px;
    /* border-radius: 5%; */
    border: 2px solid;
    border-color: white;
}
.news-bigtitle {
    position: relative;
    color:white;
    display: flex;
    margin: 20px 10px;
    font-size: 30px;
    font-weight: bold;

}

.news-box-list:hover {
    transition: .35s;
    transform: scale(1.05);
}

.news-bigtitle:hover {
    transition: .35s;
    transform: scale(1.15);
}

